.orders-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: var(--color-b);
    padding: 20px;
    cursor: pointer;
    user-select: none;
}

@media (min-width: 960px) {
    .orders-container{
        align-items: center;
        margin: 20px 0;
    }
.order-container{
    width: 70%;
}
}