.orderpage__status-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.orderpage__status-controls__buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.orderpage__status-controls__button {
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--color-a);
  border: none;
  width: 100px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.orderpage__data{
  font-size: 20px;
}

.orderpage__data > h2{
  font-size: 1.8rem
}
.orderpage__status-controls__button:hover {
  background-color: var(--color-d);
}

.orderpage__status-controls__button.pending {
  color: rgb(143, 143, 0);
}

.orderpage__status-controls__button.shipped {
  color: blue;
}

.orderpage__status-controls__button.delivered {
  color: green;
}

.orderpage__status-controls__button.canceled {
  color: red;
}


.orderpage__status-controls__button.selected {
  background-color: var(--color-c);
  cursor: initial;
}
.orderpage__status-controls__button.selected:hover {
  background-color: var(--color-c);
}

.orderpage__status-controls__button.disabled {
  background-color: rgb(179, 179, 179);
  cursor: initial;
}

.orderpage__card-message{
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
  padding: 20px;
}

@media (min-width: 960px) {
  .orderpage-container {
    display: flex;
    justify-content: center;
    gap: 500px;
  }

  .orderpage__carousel {
    width: 20%;
    display: flex;
    align-items: center;
  }
  .products-carousel__carousel{
    width: 500px;
  }

  .orderpage__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
